SECRET_KEY=gere-uma-chave-aleatoria-longa
DATABASE_URL=mysql+pymysql://usuario:senha@localhost:3306/gestaorecursos
GMAIL_APP_PASSWORD=senha-de-aplicativo-do-google
HOST=0.0.0.0
PORT=5002
FLASK_DEBUG=false
SESSION_COOKIE_SECURE=false
